<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/images/fav.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/application.css'/>
  </head>
  <body>
    {{> header }}
    <div class="container">
      {{{body}}}
    </div>
    <script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
